libtool
autom4te.cache
*.aux
config.h
config.status
*.cp
*.cps
failure.texi
*.fn
*.ky
*.log
Makefile
make.texi
.metadata
*.pg
stamp-h1
stamp-vti
success.texi
*.tar.gz
*.toc
*.tp
t.t
udunits-2.0
version.texi
.vimrc
*.vr
udunits2.html
udunits2.pdf
