*~
autom4te.cache
*.aux
config.h
config.status
configure
*.cp
.cproject
*.cps
failure.texi
*.fn
*.gch
.gradle
*.info
*.ky
libtool
*.log
m4
Makefile
Makefile.in
make.texi
.metadata
orgs
*.orig
package.box
*.pg
.project
so_locations
stamp-h1
stamp-vti
success.texi
*.swp
*.tar.gz
*.toc
*.tp
t.t
udunits-2.0
udunits-2.1.10
udunits2.html
udunits2.pdf
.vagrant
vgcore.*
.vimrc
*.vr
test-driver
build-aux
udunits2.t2p
.settings
build
html
stamp-vti
version.texi
aclocal.m4
/check-cmake
/check-cmake-cc
/check-cmake-clang
/check-make
/check-make-cc
/check-make-clang
/*.rpm
*.tmp
consistent
coverity-scan
*.tgz
