.deps
.exrc
.libs
libudunits2.la
*.lo
*.log
Makefile
*.o
tags
testUnits
udunits2lib.aux
udunits2lib.cp
udunits2lib.cps
udunits2lib.fn
udunits2lib.html
udunits2lib.info
udunits2lib.ky
udunits2lib.pdf
udunits2lib.pg
udunits2lib.toc
udunits2lib.tp
udunits2lib.vr
.vimrc
testUnits-1
test_decode_time
/iso_c_utilities.mod
*.trs
*.t2p
scanner.c
parser.c
